/*
Copyright © Advanced Micro Devices, Inc., or its affiliates.

SPDX-License-Identifier: MIT
*/

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.viewport {
  flex: 1;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
